* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  font-family: var(--body-font);
  margin: var(--body-margin) !important; /* for shadow */
  height: calc(100% - var(--body-margin) * 2);

  user-select: none;
  -webkit-user-select: none;
}
/* Resize handle */
body::after {
  display: block;
  content: '';

  position: fixed;
  right: 0;
  bottom: 0;

  width: 0;
  height: 0;

  border: 8px solid; /* Resize handle size is controlled by plugin; no ctrl */
  border-color: transparent rgba(127, 127, 127, 0.3) rgba(127, 127, 127, 0.3) transparent;
  background: rgba(127, 127, 127, 0.1);
}

/* Shared classes */

.text-right.text-right {
  text-align: right;
}
.hidden.hidden {
  display: none;
}

mark {
  background: none;
  color: var(--color-accent);
}

/* Locale */

html.ko .en-only, html.en .ko-only {
  display: none;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  background: none;

  margin-right: calc(var(--body-margin) * -1);
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: rgba(63, 63, 63, 0.5);
  border-radius: 0;
}
::-webkit-scrollbar-corner {
  background: none;
}
