
/* Column width defines */
.flex-column-i-icon {
  flex-grow: 0;
  flex-shrink: 0;
}
.flex-column-i-name, .flex-column-i-owner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  flex-grow: 10;
  flex-basis: 0%;
}
.flex-column-i-class          { width: calc(1rem * var(--_i-class)); }
.flex-column-i-owner          { width: calc(1rem * var(--_i-owner)); }
.flex-column-i-name           { width: calc(1rem * var(--_i-name)); }
.flex-column-deal-total       { width: calc(1rem * var(--_deal-total)); }
.flex-column-deal-per-second  { width: calc(1rem * var(--_deal-per_second)); }
.flex-column-deal-pct         { width: calc(1rem * var(--_deal-pct)); }
.flex-column-deal-accuracy    { width: calc(1rem * var(--_deal-accuracy)); }
.flex-column-deal-swing       { width: calc(1rem * var(--_deal-swing)); }
.flex-column-deal-miss        { width: calc(1rem * var(--_deal-miss)); }
.flex-column-deal-hitfail     { width: calc(1rem * var(--_deal-hitfail)); }
.flex-column-deal-critical    { width: calc(1rem * var(--_deal-critical)); }
.flex-column-deal-max         { width: calc(1rem * var(--_deal-max)); }
.flex-column-deal-maxhit      { width: calc(1rem * var(--_deal-maxhit)); }
.flex-column-tank-damage      { width: calc(1rem * var(--_tank-damage)); }
.flex-column-tank-parry       { width: calc(1rem * var(--_tank-parry)); }
.flex-column-tank-heal        { width: calc(1rem * var(--_tank-heal)); }
.flex-column-tank-block       { width: calc(1rem * var(--_tank-block)); }
.flex-column-heal-per-second  { width: calc(1rem * var(--_heal-per_second)); }
.flex-column-heal-pct         { width: calc(1rem * var(--_heal-pct)); }
.flex-column-heal-total       { width: calc(1rem * var(--_heal-total)); }
.flex-column-heal-swing       { width: calc(1rem * var(--_heal-swing)); }
.flex-column-heal-over        { width: calc(1rem * var(--_heal-over)); }
.flex-column-heal-cure        { width: calc(1rem * var(--_heal-cure)); }
.flex-column-heal-critical    { width: calc(1rem * var(--_heal-critical)); }
.flex-column-heal-max         { width: calc(1rem * var(--_heal-max)); }
.flex-column-heal-maxhit      { width: calc(1rem * var(--_heal-maxhit)); }
.flex-column-etc-powerdrain   { width: calc(1rem * var(--_etc-powerdrain)); }
.flex-column-etc-death        { width: calc(1rem * var(--_etc-death)); }
.flex-column-etc-powerheal    { width: calc(1rem * var(--_etc-powerheal)); }

.pet-merged .flex-column-i-owner {
  display: none !important;
}
.nameblur .flex-column-i-name > span:not(.name-you),
.nameblur .flex-column-i-owner > span:not(.name-you) {
  filter: blur(0.2rem) -webkit-blur(0.2rem);
  -webkit-filter: blur(0.2rem);
}

/* Position Helpers */
.class-gld .guage, .class-pld .guage, .class-mrd .guage,
.class-war .guage, .class-drk .guage { /* tank; blue 500 */
  box-shadow: 0.25rem 0 0 #2196f3 inset;
}
.class-pgl .guage, .class-mnk .guage, .class-lnc .guage,
.class-drg .guage, .class-arc .guage, .class-brd .guage,
.class-rog .guage, .class-nin .guage, .class-acn .guage,
.class-smn .guage, .class-thm .guage, .class-blm .guage,
.class-mch .guage { /* deal; red 500 */
  box-shadow: 0.25rem 0 0 #f44336 inset;
}
.class-cnj .guage, .class-whm .guage, .class-sch .guage,
.class-ast .guage { /* heal; light green 500 */
  box-shadow: 0.25rem 0 0 #8bc34a inset;
}

/* Colors */
.guage {
  background: #444444;
}
.class-gld .guage, .class-pld .guage {
  background: #151c64; /* Indigo 900 (B -10%) */
}
.class-mrd .guage, .class-war .guage {
  background: #991717; /* Red 900 (B -10%) */
}
.class-drk .guage {
  background: #880E4F; /* Pink 900 */
}

.class-pgl .guage, .class-mnk .guage {
  background: #FF9800; /* Orange 500 */
}
.class-lnc .guage, .class-drg .guage {
  background: #3F51B5; /* Indigo 500 */
}
.class-arc .guage, .class-brd .guage {
  background: #9E9D24; /* Lime 800 */
}
.class-rog .guage, .class-nin .guage {
  background: #D32F2F; /* Red 700 */
}
.class-acn .guage, .class-smn .guage {
  background: #2E7D32; /* Green 800 */
}
.class-thm .guage, .class-blm .guage {
  background: #7E57C2; /* Deep Purple 400 */
}
.class-mch .guage {
  background: #0097A7; /* Cyan 700 */
}

.class-cnj .guage, .class-whm .guage {
  background: #757575; /* Gray 600 */
}
.class-sch .guage {
  background: #7986CB; /* Indigo 300 */
}
.class-ast .guage {
  background: #795548; /* Brown 500 */
}

main {
  font-size: var(--font-size-small);

  position: relative;
  height: 100%;
  max-height: calc(100% - var(--body-margin) - 2rem);

  margin: 0 calc(var(--body-margin) * 1);

  background: var(--content-bg);
  background-size: cover;
  background-position: center;

  box-shadow: 0 -0.25rem 0 rgba(0, 0, 0, 0.01), var(--shadow-card);
  text-shadow: var(--shadow-text);

  transition: height 200ms ease;

  z-index: 0;
}

main > ul {
  height: 100%;

  color: var(--content-fg);
  fill: var(--content-fg);

  line-height: 1.125rem;
  overflow-y: auto;
}
#patchnote {
  display: block !important;
  height: auto;
  word-break: keep-all;
  text-align: center;
}
#patchnote h3 {
  background: rgba(255, 255, 255, 0.1);
}
#patchnote p {
  padding: 0 0.5rem;
}
#header, footer {
  display: flex;
  width: 100%;

  color: #eee;
  background: var(--header-bg);
  background-size: cover;
  background-position: center;
  text-shadow: var(--shadow-text);
}
#table {
  padding-bottom: 1.5rem;
}
#table > li {
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: relative;
}
main li {
  height: var(--graph-height);
  line-height: var(--graph-height);
  overflow: hidden;

  transition: height 200ms ease;
}
.clsicon {
  max-width: 100%;
  max-height: 100%;
}
main .clsicon { /* workaround */
  width: var(--graph-height);
  height: var(--graph-height);
}

.guage {
  position: absolute;
  bottom: 0;
  left: 0;
  height: var(--gauge-height);
  z-index: -1;

  -webkit-filter: blur(0.02rem);
}

[class^='flex-column'] {
  display: inline-block;
}


footer {
  width: 100%;
  height: 1.5rem;
  line-height: 1.5rem;

  position: absolute;
  bottom: 0;
  z-index: 5;
}
.tabs {
  padding: 0 !important;
  flex-grow: 0 !important;
  flex-shrink: 0;
}
.tabs span {
  display: inline-block;
  padding: 0 0.5rem;
  border-right: 0.1rem solid rgba(255, 255, 255, 0.5);
}
.tabs span.active {
  color: var(--color-accent);
}

.footer-notify, .footer-stat {
  padding: 0 0.25rem;
  flex-grow: 1;
  flex-shrink: 0;
}
.footer-notify {
  text-align: left;
  flex-shrink: 1;
}
.footer-stat {
  text-align: right;
}

.collapsed {
  height: calc(var(--graph-height) * 2);
}
.collapsed #header, .collapsed #table > li:not(.me) {
  height: 0;
}
