<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
* {
  box-sizing: border-box;
}
body {
  font-family: 'Malgun Gothic', sans-serif;
  text-align: center;
}
    </style>
    <script>
'use strict'
localStorage.getItem('kagerou_token')
localStorage.setItem('kagerou_token', `{{ JSON.stringify(data) | safe }}`)

/*setTimeout(_ => {
  window.opener.location.hash = '#integration'
  window.opener.location.reload()
  window.close()
}, 3000)*/
    </script>
  </head>
  <body>
    <main>
      <h2> {{ data.name }} </h2>
      <p> 로그인되었습니다. </p>
    </main>
  </body>
</html>
